<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
     .main{
         border: black solid 1px;
         display: block;
         width: 1000px;
         text-align: center;

    }
     .divv{
         display: inline-block;
         /*width: 100px;*/
         /*height: 100px;*/
         width: 10vw;
         height: 10vh;
         background-color: red;
         /*margin: 10px auto;*/
     }
</style>
<body>
    <div class="main">
        <div class="divv"></div>
        <div style="border: #7615c7 solid 1px;display: block">
            <input>
            <input>
        </div>
        <button style="border: #7615c7 solid 1px;display:block">惦记我啊啊啊</button>
    </div>


    <div style="text-align: center;">
        <div style="display: inline-block; width: 200px; height: 100px; background: lightblue;">
            我是inline-block元素
        </div>
    </div>

</body>
</html>